.headerWrapper {
  background: #f8f8ff;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.myLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  font-size: 18px;
}

.linkRoute,
.linkActive {
  text-decoration: none;
  color: black;
}

.linkActive {
  color: black;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

.myLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.linkRoute:hover {
  color: grey;
}

.headingLink {
  font-size: 3rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  font-weight: 500;
}

.headingLink:hover {
  color: black; 
  cursor: default;
}

.linkLabel {
  position: relative;
}

.dropdownContainer{
    cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  background-color: ghostwhite;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 8px;
  border-radius: 5px;
  width: 225px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition:
    opacity 0.5s ease,
    transform 0.3s ease;
}

.dropdownContainer:hover .dropdownMenu {
  display: block;
}

.linkLabel:hover .dropdownMenu {
  transform: translateX(-50%) translateY(0);
  visibility: visible;
  opacity: 1;
}

.dropdownMenu li {
  list-style-type: none;
}

.dropdownMenu a {
  background-color: inherit;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  flex-shrink: 1;
}

.chevronIcon {
  width: 1.2em;
  height: 1.2em;
  margin-left: 4px;
  vertical-align: middle;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.chevronIcon.rotate {
  transform: rotate(180deg);
}
.activeDropdownLink {
  color: #daba88 !important;
}

@media (max-width: 800px) {
  .headingLink {
    display: none;
  }
  .myLinks {
    height: 4rem;
  }
}

@media (max-width: 590px) {
  .myLinks {
    display: none;
  }
}
