* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.sidebar {
  display: flex;
  position: fixed;
  height: 100vh;
  flex-direction: column;
  width: 20rem;
  flex-shrink: 0;
}

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}

.searchScenarioWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 10px;
  margin-left: 10px;
  position: relative;
}

.scenarioInput {
  background-color: inherit;
  height: 40px;
  border: 0;
  border-bottom: 1px solid black;
  padding-left: 35px;
  width: 80%;
  outline: none;
}

.scenarioIcon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  color: black;
}


.pentagon {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  width: 200px;
  height: 50px;
  background: black;
  display: flex;
  align-items: center;


}
.pentagon:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid black;
  right: -25px;
  top: 0px;
}

.pentagon:hover {
  background-color:#EED9B6;
  border-left: 1px solid #EED9B6;
  border-top: 1px solid #EED9B6;
  border-bottom: 1px solid #EED9B6;
}

.pentagon:hover:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #EED9B6;
  right: -25px;
  top: -1px;
}

.pentagon:hover h1 {
  color: white;
}

.scenarioTitle {
  color: white;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  padding-left: 20px;
  justify-content: center;
  text-align: center;
  flex: 1;
}


.subsectionEmpty,
.subsectionActive {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  margin-left: 40px;
  margin-right: 5px;
  display: inline-block;
}

.subsectionEmpty {
  background-color: white;
}

.subsectionActive {
  background-color: black;
}


.subsections {
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.subsections:hover {
  color: gray;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 800px) {
  .sidebar {
    display: none;
  }
}

