.releaseWrapper {
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .headerRow {

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .releaseHeading {
    font-size: 18px;
    font-weight: 600;
    color: #2d3748;
    margin: 0;
  }
  
  .checkboxes {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 8px;
  }
  
  .checkbox-section {
    /* flex: 1 1; */
    min-width: 150px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .checkbox-label input {
    margin-right: 10px;
    width: 18px;
    /* height: 18px; */
  }
  
  .checkbox-label input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    .checkbox-container {
      flex-direction: column;
      gap: 10px;
    }
  
    .checkbox-section {
      min-width: 100%;
    }
  }