* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.new-registered-owners {
  font-family: Arial, sans-serif;
}

.newRegHeading {
  font-weight: 400;
  padding-top: 10px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.newRegFirstGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.newRegSecondGroup {
  display: flex;
  margin-bottom: 15px;
}

.newRegFormItem {
  flex: 1;
  margin-right: 10px;
}

.newRegFormItem:last-child {
  margin-right: 0;
}

.newRegInfo {
  padding-right: 20px;
}

.regStateWrapper {
  max-width: 100px;
  position: relative; 
  flex: 1;
  margin-right: 10px;
}


.registeredOwnerLabel{
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.registeredOwnerInput{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}

.registeredOwnerInput::placeholder {
  color: #999;
}

.registeredOwnerLicenseInput{
  max-width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}

.registeredOwnerLicenseInput::placeholder {
  color: #999;
}

/* copy for drop down  */
.regIcon {
  width: 1.2em;
  height: 1.2em;
  margin-left: 4px;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

/* copy for drop down  */
.regIcon.rotate {
  transform: rotate(180deg);
}

/* copy for drop down  */
.regStateDropDown {
  cursor: pointer;
  position: relative;
  outline: none;
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
   color: #999;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%; 
    height: 2rem;
  width: 100%;
  padding: 0 10px; 
  box-sizing: border-box;
}

/* copy for drop down  */
.regStateMenu {
  position: absolute; 
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  list-style: none;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  height: 200px;
  max-height: 200px; 
  padding-right: 15px;
  overflow-x: hidden;
}

/* copy for drop down  */
.regStateLists {
 color: #999;
  padding: 10px;
  font-size: 12px;
}

/* copy for drop down  */
.regStateLists:hover {
  background-color: black;
  color: white;
  border-radius: 2px;
}

.newRegThirdGroup {
  display: flex;
  margin-bottom: 15px;
}


.registeredNumberInput{
  max-width: 600px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 20px;
}

.registeredNumberInput::placeholder {
  color: #999;
}

.registeredDateInput{
  max-width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}

.registeredDateInput::placeholder {
  color: #999;
}
