/* .outer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 600;
  align-items: center;
}

.inner {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mediumInputBox {
  position: relative;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  height: 20px;
}

.mainTitle {
  font-size: 35px;
}

.mediumInputBoxLabel {
  position: relative;
  border: 2px solid black;
  padding: 10px;
  width: 300px;
  height: 100px;
} */

.new-registered-owners {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-item {
  flex: 1;
  margin-right: 10px;
}

.form-item:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input::placeholder {
  color: #999;
}