* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.new-registered-owners {
  font-family: Arial, sans-serif;
}

.newRegHeading {
  font-weight: 600;
  padding-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.newRegFirstGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.newRegSecondGroup {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
}

.newRegFormItem {
  flex: 1;
  margin-right: 10px;
}

.newRegFormItem:last-child {
  margin-right: 0;
}

/* .newRegInfo {
  padding-right: 20px;
} */

.regStateWrapper {
  max-width: 100px;
  position: relative;
  flex: 1;
  /* margin-right: 10px; */

}

.registeredOwnerLabel {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.registeredOwnerInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}

.registeredOwnerInput::placeholder {
  color: #999;
}

.registeredOwnerLicenseInput {
  width: 309px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}

.registeredOwnerLicenseInput::placeholder {
  color: #999;
}

.regIcon {
  width: 1.2em;
  height: 1.2em;
  margin-left: 4px;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.regIcon.rotate {
  transform: rotate(180deg);
}

.regStateDropDown {
  cursor: pointer;
  position: relative;
  outline: none;
  display: flex;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #999;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  height: 34px;
}

.regStateMenu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  list-style: none;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  height: 200px;
  max-height: 200px;
  padding-right: 15px;
  overflow-x: hidden;
}

.regStateLists {
  color: #999;
  padding: 10px;
  font-size: 12px;
}

.regStateLists:hover {
  background-color: black;
  color: white;
  border-radius: 2px;
}

.newRegThirdGroup {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 15px;
  gap: 10px;
}

.newRegFormItem {
  flex: 1 1;
  margin-right: 10px;
}
.registeredNumberInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}

.registeredNumberInput::placeholder {
  color: #999;
}

.registeredDateInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}

.registeredDateInput::placeholder {
  color: #999;
}


.registeredValueInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}

.registeredValueInput::placeholder {
  color: #999;
}

.newRegHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.howManyWrapper {
  padding-left: 20px;
  position: relative;
  max-width: 130px;
  flex: 1;
  margin-right: 10px;
}

.howManyDropDown {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #999;
  text-align: center;
  width: 100%;
  height: 2rem;
  padding: 0 10px;
  box-sizing: border-box;
}

.howManyIcon {
  width: 1.2em;
  height: 1.2em;
  margin-left: 4px;
  transition: transform 0.3s ease;
}

.howManyIcon.rotate {
  transform: rotate(180deg);
}

.howManyMenu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  list-style: none;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  text-align: center;
  overflow-y: auto;
  max-height: 200px;
}

.howManyLists {
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  color: #999;
}

.howManyLists:hover {
  background-color: black;
  color: white;
}


.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.checkboxInput {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.phone-input-group{
  display: flex
  ;
      gap: 4px;
  
}

.phone-code-select{
  cursor: pointer;
  position: relative;
  outline: none;
  display: flex
;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #999;
  text-align: start;
  justify-content: flex-start;
  align-items: center;
  width: 38%;
  padding: 0px 0px;
  box-sizing: border-box;
  height: 34px;
}