.type-container-wrapper {
  position: fixed;
  top: 20%;
  right: 0;
  font-family: "Inter", sans-serif;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
}

.type-container {
  border: 1px solid #ccc;
  padding: 15px;
  width: 260px;
  background-color: white;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 8px;
  transform: translateX(120%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  margin-right: 20px; }

.type-container.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.side-tab {
  position: fixed;
  top: 31%;
  right: 0;
  width: 150px;
    background: white;
  border: .7px solid black;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
    align-items: center;
  justify-content: center;
  transition: all 0.3sease-in-out;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: center;
  white-space: nowrap;
  padding: 10px;
}


.close-icon {
  width: 20px;
  height: 20px;
  color: black;
}

.side-tab:hover {
  background: #ffffff;
}

@media (max-width: 1199px) {
  .type-container-wrapper {
    right: -55px;
    left: auto;
    margin-right: 55px;
  }

  .type-container {
    transform: translateX(120%);
    margin-right: 0;
  }

  .type-container.show {
    transform: translateX(0);
  }

  .side-tab {
    right: -55px;   }
}

@media (min-width: 1200px) {
  .type-container {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .side-tab {
    display: none;   }
}



.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.checkbox:checked::before {
  content: "✔";
  font-size: 14px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-break {
  margin: 20px 0;
  border-bottom: 1px solid #ddd;
}

@media (min-width: 1200px) {
  .type-container {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .toggle-button {
    display: none;   }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.close-icon {
  width: 20px;
  height: 20px;
  color: black;
}
@media (min-width: 1200px) {
  .close-button {
    display: none;
  }
}

