.vehicleInformationWrapper {
  font-family: Arial, sans-serif;
}

.vehicleInformationHeading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.formGroup {
  margin-bottom: 15px;
}

.formLabel {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.formInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}


.checkboxGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 5px;
}

.checkboxInput {
  width: 15px;
  height: 15px;
}


.vehicleInformationWrapper .formInput.vehicleLicenseInput {
  width: 66.2%;
}

.vehicleInformationWrapper .formInput.hullIdInput {
  width: 66.2%; 
}

.vehicleFirstGroup {
  display: flex;
      justify-content: space-between;
      margin-bottom: 15px;             
}

.yearInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px
}

.makeInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px}

.mileageGroup{
  display: flex;
  justify-content: flex-start;
  gap: 12%;
}

.mileageInput{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
}

.odometerInput{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px}

.vehicleFormItem{
  flex: 1 1;
    margin-right: 10px
}

.yearlabel{
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}