* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.homeContainer {
  justify-content: center;
  margin-top: 5rem;
}

.scenarioSelect {
  font-size: 1.5rem;
  color: #333;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
}

@media (max-width: 800px) {
  main {
    margin-left: 0  !important; 
  }
}